<h1>Searches#index</h1>
<p>Find me in app/views/searches/index.html.erb</p>

<%= form_tag searches_path, method: :get do %>
<%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a flat" %>
<%= submit_tag("Find") %>
<% end %>

<% if @results.present? %>
  <% @results.each do |movie| %>
  <div class="movie-details" style="background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 1))), url('https://image.tmdb.org/t/p/w300_and_h450_bestv2/<%= movie['backdrop_path'] %>') no-repeat;  -webkit-background-size: cover;")>
    <p><%= movie["title"] %></p>
    <p><%= movie %></p>
    <p><%= image_tag "https://image.tmdb.org/t/p/w300_and_h450_bestv2/#{movie["poster_path"]}" %></p>
  </div>
  <% end %>
<% end %>

