<div class="selected-movies">
  <% @search["pickedmovies"].each do |movie| %>
    <p><%= movie["original_title"] %></p>
  <% end %>
</div>

<%= form_tag searches_path, method: :get do %>
  <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find an actor or movie" %>
  <%= submit_tag("Find") %>
<% end %>

<% if @results.present? %>
  <% @results.each do |movie| %>

    <!-- Add movie with ajax -->
    <%= link_to "Click here", search_path(@search, :pickedmovies => movie), :method => :patch, :remote => true %>

    <!-- Add movie without ajax -->
    <%#= link_to "Click here", search_path(@search, :pickedmovies => movie), :method => :patch %>

    <div class="movie-details")>
      <div class="movie-description">
        <p><%= movie["title"] %></p>
        <p><%= movie %></p>
        <p><% movie_id = movie["id"] %></p>
      </div>
      <div class="movie-image">
        <p><%= image_tag "https://image.tmdb.org/t/p/w300_and_h450_bestv2/#{movie["poster_path"]}" %></p>
      </div>
    </div>
  <% end %>
<% end %>

